<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Email</title>
  <style>
    table {
      width: 100%;
      border-collapse: collapse;
    }
    table, th, td {
      border: 1px solid black;
    }
    th, td {
      padding: 8px;
      text-align: left;
    }
  </style>
</head>
<body>
  <div>
   
    <h2>Report</h2>
    <p>Dear {{data.patientName}},</p>
    <div>
      <p>Your report has been approved by Dr. {{data.doctor}} with the following recommendation:
{{data.recommendation}}</p>
      <p><strong>Name:</strong> {{data.patientName}}</p>
       <p><strong>Patient ID:</strong> {{data.patientId}}</p>
      <p><strong>Report ID:</strong> {{data.reportId}}</p>
      <p><strong>Approved on:</strong> {{data.ReportedOn}}</p>
    </div>
    <table>
      <thead>
        <tr>
          <th>Test</th>
          <th>Result</th>
          <th>Reference Value</th>
          <th>Unit</th>
        </tr>
      </thead>
      <tbody>
        {{#each data.tableData}}
        <tr>
          <td>{{this.testName}}</td>
          <td>{{this.result}}</td>
          <td>{{this.min}} - {{this.max}}</td>
          <td>{{this.unit}}</td>
        </tr>
        {{/each}}
      </tbody>
    </table>
    <div>
      <p>----------------------------- **End of report** -----------------------------</p>
      <p>----------------------<br />{{data.labTechnician}}</p>
      <p>----------------------<br />Dr. {{data.doctor}}</p>
      
    </div>
  </div>
</body>
</html>
